* {
    padding: 5px 10px;
    margin: 0px;
}

.search {
    border-color: teal;
    color: teal;
    border: 2px solid;
    width: 100px;
    height: 30px;
    padding: 5px 30px;
    border-radius: 25%;
}

.plus {
    border-radius: 50%;
    background-color: turquoise;
    color: white;
    border: 0px;
    border-color: turquoise;
    width: 35px;
    height: 35px;
    font-size: 25px;
    margin-top: 0px;
}

.Create {
width: 20%;
background-color: blue;
color: white;
border: 10px;
border-color:black;
padding: 8px 30px
}


